[submodule "OCA/website"]
	path = OCA/website
	url = git@github.com:OCA/website.git
	branch = 11.0

[submodule "OCA/website-cms"]
	path = OCA/website-cms
	url = git@github.com:OCA/website-cms.git
	branch = 11.0
